.createpost {
    padding-top: 20px;
    border-top: #585656  solid 1px;
    margin-top: 15px;
}

.recent-post{
    margin-bottom: 25px;
    border-left: red solid 1px;
}

.message{
    border: 1px solid red;
    text-align: center;
}
  
